body {
    background-image: linear-gradient(to right, #e4c1ff, #ffffff);
    min-height: 100vh;
    margin: 0;
    font-family: Arial;
}
div {
    background-color: #af4aff;
    text-align: center;
    font-size: 25px;
}
nav{
    background-color: #af4aff;
    padding: 10px;
}
nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
nav ul li{   
    margin-right: 40px;
    }
nav ul li a{
    font-size: 25px;
    color: white; 
    text-decoration: none; 
    font-weight: bold;
}
nav a{
    transition: 0.3s;
}
nav a:hover{
    color: #fff700;
}
.glih {
    width: 25%;
    height: auto;
}
table{
    color: #333333;
}
